<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name="EAExplorer"
		Language="1033"
		Version="1.0.0.0"
		UpgradeCode="7838891E-F4ED-4962-999E-40FCB2A6BA5D"
		Manufacturer="G. Makulik (c) 2012">
		<Package Description="#Description"
			Comments="Comments"
			InstallerVersion="200"
			Compressed="yes"/>
		<Icon Id="eaexplorer_icon.exe" SourceFile="..\EAExplorer\ea_explorer.ico"/>
		<Property Id="ARPPRODUCTICON" Value="eaexplorer_icon.exe" />
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir"/>
		
		<Feature Id="Complete"
		         Title="EAExplorer"
		         Description="Your description"
		         Level="1">
				<ComponentRef Id="EAExplorer" />
				<ComponentRef Id="EAExplorerRegEntries"/>
		</Feature>
		
		<!--
 			Using the Wix UI library.

			WixUI_Minimal is the most basic of the WixUI stock dialog sets.
 			Its sole dialog combines the welcome and license-agreement 
			dialogs and omits the feature customization dialog. 
			WixUI_Minimal is appropriate when your product has no optional 
			features.
 		-->
		<UIRef Id="WixUI_Minimal"/>
	</Product>
</Wix>
